li {
    list-style: none;
}

.liItem {
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.button {
    margin-bottom: 10px;
    background-color: rgb(84, 127, 180);
}

.deleteButton:hover {
    background-color: 007bff;
}
.liName {
    padding: 12px;
}

/* newbutton css */

.button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    width: 200px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}
